<h2>現在の募集一覧</h2>
<table class="col-sm-10 table-bordered table">
	<tr>
		<th class="text-center">日付</th>
		<th class="text-center">タイトル</th>
		<th class="text-center">場所</th>
	</tr>
	<% @contents.each do |content| %>
	<tr>
	  <td class="text-center"><%= content.day.strftime('%Y年%m月%d日')%></td>
		<td class="text-center"><%= link_to content.title,user_content_path(content.user_id,content.id)  %></td>
		<td class="text-center"><%= content.place %></td>
	</tr>
	<% end %>
</table>