<h2>コメントの編集</h1>
<%= form_for @comment, :url => user_content_comment_path(Content.find(@c_id).user_id,Content.find(@c_id).id,@comment) do |f| %>
	<div class="form-group row">
		<span class="col-sm-1">
			<%= f.label :body, "内容" %>
		</span>
		<span class="col-sm-9">
			<%= f.text_area :body,:class => "form-control",:rows => "10" %>
		</span>
	</div>
	<p class="text-right col-sm-10"><%= f.submit "編集完了"	,:class => "btn btn-default"%></p>
	<% end %>