<h1>自分のコメント一覧</h1>
<table class="col-sm-8" border="1">
	<tr>
		<th>コメント</th>
		<th>コメント先</th>
	</tr>
	<% @comments.each do |comment| %>
	<tr>
	  <td><%= link_to comment.body, user_content_path(Content.find(comment.content_id).user_id,comment.content_id) %></td>
	  <td><%= link_to Content.find(comment.content_id).title, user_content_path(Content.find(comment.content_id).user_id,comment.content_id) %></td>
	  </tr>
	  <% end %>
</table>